@font-face {
    font-family: 'pt-sans-bold';
    src: url(./src/fonts/PT_Sans/PTSans-Bold.ttf);
}

@font-face {
    font-family: 'pt-sans-regular';
    src: url(./src/fonts/PT_Sans/PTSans-Regular.ttf);
}

@font-face {
    font-family: 'rubik';
    src: url(./src/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'rubik-medium';
    src: url(./src/fonts/Rubik/Rubik-VariableFont_wght.ttf);
    font-weight: 500;
}

body {
    background-color: rgb(209, 209, 232);
}

.main-container {
    background-color: #FEFAEF;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 700px;
    height: 450px;
}

.card-body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
}

.inner-left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #27355C;
    width: 190px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.inner-right-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-image: url(./src/img/brainbg.jpg);
    background-position: center;
    background-size: 100%;
    flex-direction: column;
    font-size: 24px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pt-bold {
    font-family: 'pt-sans-bold', sans-serif;
}

.pt-reg {
    font-family: 'pt-sans-regular', sans-serif;
}

.rubik-reg {
    font-family: 'rubik', sans-serif;
    font-weight: 100;
}

.fs-20 {
    font-size: 20px;
}

.logo-image {
    width: 80px;
}

.theme {
    border-left: 6px solid transparent;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 30px;
    margin-bottom: 20px;
    font-size: 24px;
}

.theme:hover {
    border-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.start-btn {
    background-color: #FF4E10;
    border: none;
    border-radius: 10px;
    color: #FEFAEF;
    padding: 5px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 190px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 330px;
}

.letter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 24%;
}

.icon {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.answer-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 400px;
    background-color: white;
    font-size: 18px;
    padding: 8px;
    margin-bottom: 14px;
}

.answer-card:hover {
    cursor: pointer;
    background-color: rgba(184, 184, 184, 0.141);
}

.answer-letter {
    padding: 8px 16px;
    margin-right: 44px;
    background-color: #D6D6D6;
    font-weight: 700;
}

.question {
    width: 400px;
    height: 100px;
    font-family: 'rubik-medium';
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    height: 100%;
}

.inner-right-question-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    flex-direction: column;
    font-size: 24px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.next-bevor-button {
    margin-top: 20px;
    margin-left: 150px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.next-arrow {
    width: 40px;
    padding: 10px;
    padding-left: 11px;
    padding-right: 9px;
    background-color: #DADFF4;
    border-radius: 50%;

}

.numbering {
    font-size: 14px;
    padding-top: 10px;
}

.bevor-arrow {
    rotate: 180deg;
    width: 40px;
    padding: 10px;
    padding-left: 11px;
    padding-right: 9px;
    background-color: #DADFF4;
    border-radius: 50%;
}

.bn-btn img:hover {
    background-color: rgb(197, 197, 197);
}

.bn-btn:disabled img {
    background-color: #ff501061;
}

.next-arrow:hover {
    background-color: rgb(197, 197, 197);
}

.bn-btn {
    border-style: none;
    background-color: transparent;
}

.btn-correct {
    background-color: rgba(33, 146, 33, 0.48);
}

.btn-correct:hover {
    background-color: rgba(33, 146, 33, 0.48);
}

.btn-false {
    background-color: rgba(192, 44, 44, 0.613);
}

.btn-false:hover {
    background-color: rgba(192, 44, 44, 0.613);
}

.letter-true {
    background-color: rgb(33, 146, 33);
}

.letter-false {
    background-color: rgb(192, 44, 44);
}